meta(charset='UTF-8')
if config.author
  meta(name='author', content=config.author)
if config.description
  meta(name='desciption', content=config.description)
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title
  if page.title
    = page.title
  else
    = config.title
link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,700')
link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic')  
link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic')
link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Cutive+Mono')
link(rel='stylesheet', type='text/css', href=theme.cdn.normalize + '/normalize/3.0.1/normalize.min.css')
link(rel='stylesheet', type='text/css', href=theme.cdn.carbon + '/css/carbon.css')
if theme.favicon
  link(rel="icon", href=theme.favicon)
